body {
    text-align: center;
}

#welcome {
    height: 1000px;
    background: linear-gradient(red, yellow);
    width: 100%;
    margin-top: 100px;
    z-index: 9;
}

h1 {
    font-size: 40px;
    font-weight: 400px
}

#name {
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

h2 {
    font-size: 40px;
}

#bio {
    background: linear-gradient(blue, white);
    width: 100%;
    margin-top: 50px;
}

.line {
    height: 5px;
    width: 70px;
    margin: 10px auto;
    background-color: black;
}

p {
    max-width: 450px;
    margin: 20px auto;
    font-size: 20px;
}

#hello {
    list-style: none;
    position: absolute;
  margin: 10px auto;
    font-family: cursive;
    z-index: 10;
    top: 10px;
    left: 400px;
    font-size: 20px;
}

.links {
    float: left;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none
}

.links:hover {
    background-color: aqua;
    font-size: 25px;
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none
}

#article{
    font-size: 25;
    font-family: cursive
}
#article:hover{
    color: darkgreen
}

#contacts iframe{
    width: 100%;
}
#contacts h3{
    
    display: inline;
}


